.App {
  /*text-align: center;*/
}

.NewsFeed {
    list-style-type: none;
}

.NewsItem {
    border: #eee 1px solid;
    padding: 0 20px;
}

.NewsItem:nth-child(even) {
    background: #f2f2f2;
}

.NewsItem .title {
    margin-bottom: 0;
}

.NewsItem .source {
    font-style: italic;
    margin-top: 0;
}
